//== Configruações dos capítulos

//** Contents da abertura
.app-cap-abertura {

	//** Topo onde fica o número e indicador da unidade
	.app-cap-abertura-topo {  }

	//** Content para o titulo
	.app-cap-abertura-titulo {  }

	//** Content para o autor
	.app-cap-abertura-autor {  }
}

//** Contents para os conteúdos do capítulo
.app-cap-content {

	//** Contents da introdução do capítulo
	.app-cap-introducao {

	}

	//** Itens principais do capítulo
	.section-page-item {

	    border-bottom: 1px dashed @app-cor-padrao-fraco-20;
	    padding-bottom: 7%;
	    margin-bottom: 7%;
	    min-height: 100%;
	}
}


//== Configruações responsivas
// Min Min grid (XS)
@media (max-width: @screen-xs-max) {

}

// Min Min grid (SS)
@media (min-width: @screen-ss-min) { 

}

// Min grid (SM)
@media (min-width: @screen-sm-min) { 

}

// Medium grid (MD)
@media (min-width: @screen-md-min) { 

}

// Large grid (LG)
@media (min-width: @screen-lg-min) { 

}

