//== Configura paginas
html > * { display: none; }
html > body { display: block; }
html, body, .app-page { height: 100%; }

//** Remove os espaços das colunas responsivas
.col-notspace { margin: 0px; padding: 0;}

.app-page { background-color: @app-cor-preto; position: fixed; width: 100%; }

.app-cover { background-size: cover; background-repeat: no-repeat; background-position: center; }

//== Trata elementos da capa
@app-font-size-app: ceil((@app-size-base * 1.42)); // ~20px
@app-height-size-app: @app-font-size-app; // ~20px


//** Configura a fachada da capa
@app-cover-fachada-pdd-l: ceil((@app-height-size-app * 8.35)); // ~167px
@app-cover-fachada-pdd-r: ceil((@app-height-size-app * 9.8)); // ~196px

@app-cover-livro-font: ceil((@app-font-size-app * 2.6)); // ~52px
@app-cover-livro-pdd: ceil((@app-height-size-app * 3)); // ~60px

@app-cover-autor-font: ceil((@app-font-size-app * 0.8)); // ~16px
@app-cover-autor-pdd: ceil((@app-height-size-app * 0.37)); // ~7.5px

//**configrua os bototoes de navegação
@app-cover-btn-font: ceil((@app-font-size-app * 2.1)); // ~42px
@app-cover-btn-pdd: ceil((@app-height-size-app * 0.26)); // ~5.5px
@app-cover-btn-mrg: ceil((@app-height-size-app * 1.9)); // ~30px

@app-cover-toltip-font: ceil((@app-font-size-app * 0.9));//~18px
@app-cover-toltip-pdd: ceil((@app-font-size-app * 0.87));//~53px
@app-cover-toltip-top: ceil((@app-font-size-app * 2.2));//~53px
@app-cover-toltip-width: ceil((@app-font-size-app * 15));//~300px
@app-cover-toltip-height: ceil((@app-cover-toltip-font + (@app-cover-toltip-pdd*2))); //~54px

//** Define a fonte padrão
.app-cover, .app-text-livro, .app-text-livro, .cover-btn-nav { font-family: @app-font-app; }

//** posiciona os elementos
.cover-contents { margin-top: ceil((@app-height-size-app * 3.4)); }

//** Configrua fachada
.cover-fachada {
	// padding: 20px;
	padding-left: @app-cover-fachada-pdd-l;
	padding-right: @app-cover-fachada-pdd-r; // 

    width: 100%;
    display: block;

	&.app-text-livro, &.app-text-autor { color: @app-cor-preto-0; }

    &.app-text-livro {
    	font-size: @app-cover-livro-font;
		line-height: @app-cover-livro-font;
		padding-top: @app-cover-livro-pdd;
		padding-bottom: @app-cover-livro-pdd;
		background-color: @app-cor-padrao;
    	font-weight: bold;
    }

    &.app-text-autor {
    	font-size: @app-cover-autor-font;
		line-height: @app-cover-autor-font;
		padding-top: @app-cover-autor-pdd;
		padding-bottom: @app-cover-autor-pdd;
		margin-top: -1px;

		background-color: @app-cor-padrao-fraco;
    	font-style: italic;
    }
}

//** Variavel de configuração para icones
.app-var-ico (@ico) {

	&:before { font-family: @app-font-ico; content: @ico; }
}

//** Cofigura colula de botões
.cover-nav-bar { background-color: rgba(0, 0, 0, 0.5); height: 100%; }
.cover-btn-nav {

    display: block;
    text-align: center;
    padding: @app-cover-btn-pdd 0px;
    margin-bottom: @app-cover-btn-mrg;
    line-height: @app-cover-btn-font;

	// &:after { display: none; }

	&:hover{
		background-color:  @app-cor-padrao-fraco;
		.cover-btn-toltip {display: inline;}
	}
}

//** Configura botões
.tomanocu{ margin-bottom: ceil((@app-cover-btn-mrg * 5.78)); }
.app-ico-menu, .app-ico-sumario, .app-ico-atividade, .app-ico-marcador, .app-ico-anotacao, .app-ico-referencia {
	&:before { display: block; font-size: @app-cover-btn-font; color: @app-cor-preto-0; }
}
.app-ico-menu { .app-var-ico (@app-ico-menu);}
.app-ico-sumario { .app-var-ico (@app-ico-sumario); }
.app-ico-atividade { .app-var-ico (@app-ico-atividade); }
.app-ico-marcador { .app-var-ico (@app-ico-marcador); }
.app-ico-anotacao { .app-var-ico (@app-ico-anotacao); }
.app-ico-referencia { .app-var-ico (@app-ico-referencia); }

//** Configura Toltip
.cover-btn-toltip {
	display: none;
	font-size: @app-cover-toltip-font;
	line-height: @app-cover-toltip-font;
	padding: @app-cover-toltip-pdd 0px;
	text-transform: uppercase;
	top: -(@app-cover-toltip-top);
	background-color: @app-cor-padrao-fraco;
	right: ceil(@app-cover-toltip-width + ceil((@app-cover-toltip-height * 0.51)));
	width: @app-cover-toltip-width;
	color: @app-cor-preto-0;
	position: relative;
	float: left;

	&:after {
	    border: ceil((@app-cover-toltip-height * 0.51)) solid transparent;
	    border-left-color: @app-cor-padrao-fraco;
	    left: (@app-cover-toltip-width - 1);
	    position: absolute;
	    content: "";
	    top: -(ceil((@app-cover-toltip-height * 0.01)));
	}
}

.cover-btn-ler, .cover-logo {
	position: fixed;
	left: center;
}


