//
// Variables
// --------------------------------------------------

//== Cores
//
//## Cor padrão do aplicativo (vermelho escuro derivada da UNIPAR), e lista de derivações menos densa.
@app-padrao: #A11314;
@app-padrao-80: #B44243;
@app-padrao-60: #C77172;
@app-padrao-40: #D9A1A1;
@app-padrao-20: #ECD0D0;
@app-padrao-10: #F6E7E7;

//## Cor mais clara padrão do aplicativo (vermelho escuro derivada da UNIPAR), e lista de derivações menos densa.
@app-padrao-fraco: #C0504D;
@app-padrao-fraco-80: #CA7066;
@app-padrao-fraco-60: #D48E82;
@app-padrao-fraco-40: #E0AFA4;
@app-padrao-fraco-20: #EDD3CB;
@app-padrao-fraco-10: #F4E6E2;

//## Cor preto padrão do aplicativo (vermelho escuro derivada da UNIPAR), e lista de derivações menos densa.
@app-preto: #19181C;
@app-preto-80: #47464A;
@app-preto-60: #757477;
@app-preto-40: #A3A2A4;
@app-preto-20: #D1D1D2
@app-preto-10: #E8E8E8;

//## Cor da instituição (UNIPAR), e lista de derivações menos densa.
@app-instituicao: #EE3435;
@app-instituicao-80: #F25D5E;
@app-instituicao-60: #F58586;
@app-instituicao-40: #F8AEAE;
@app-instituicao-20: #FCD6D7;
@app-instituicao-10: #FDEBEB;

//## Cor verde padrão do aplicativo
@app-verde: #32824C;
@app-verde-80: #5B9B70;
@app-verde-60: #84B494;
@app-verde-40: #ADCDB7;
@app-verde-20: #D6E6DB;
@app-verde-10: #EAF3ED;

//## Cor azul padrão do aplicativo
@app-azul: #4D7CBB;
@app-azul-80: #7196C9;
@app-azul-60: #94B0D6;
@app-azul-40: #B8CBE4;
@app-azul-20: #DBE5F1;
@app-azul-10: #EDF2F8;

//## Cor vermelho padrão do aplicativo
@app-vermelho: @app-padrao-fraco;
@app-vermelho-80: @app-padrao-fraco-80;
@app-vermelho-60: @app-padrao-fraco-60;
@app-vermelho-40: @app-padrao-fraco-40;
@app-vermelho-20: @app-padrao-fraco-20;
@app-vermelho-10: @app-padrao-fraco-10;
