//== Pre configura icones
//** Variavel de configuração para icones
.app-var-ico (@ico) {

	&:after { font-family: @app-font-ico; content: @ico; }
}

.app-ico-menu { .app-var-ico (@app-ico-menu);}
.app-ico-menu-short { .app-var-ico (@app-ico-menu-short);}
.app-ico-sumario { .app-var-ico (@app-ico-sumario); }
.app-ico-atividade { .app-var-ico (@app-ico-atividade); }
.app-ico-marcador { .app-var-ico (@app-ico-marcador); }
.app-ico-anotacao { .app-var-ico (@app-ico-anotacao); }
.app-ico-referencia { .app-var-ico (@app-ico-referencia); }
.app-ico-config_leitura { .app-var-ico (@app-ico-config_leitura); }


//** Configrua barra de navegação
.app-nav-bar {
	display: block;
	-webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.66);
	box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.66);
	padding: 5px 0;
	display: block;
	position: fixed;
	width: 100%;
	top: 0px;
}

.app-variant-nav-grid (@size) {
	.app-nav-logo, .app-nav-section, .app-nav-btn-group, .app-nav-btn-group-item, .app-nav-menu { height: @size;}
	.app-nav-btn-item { height: @size; padding: ceil((@size * 0.14)) }
	.app-nav-btn-item:hover { 
		cursor: pointer;
		background-color: @app-cor-padrao-80;
		color: @app-cor-preto-0;
		margin-top: -(ceil((@size * 0.14))); //-7px; => 47
		padding-top: ceil((@size * 0.27)); // 13px; => 47
		display: block;
		height: ceil((@size * 1.27)); // 59px => 47
		text-align: center;
	}
}

// Min Min grid (SS)
@media (max-width: @screen-xs-max) {
	.app-variant-nav-grid (34px);
	.app-nav-section-item.app-secao { text-transform: none; margin-top: 8px; display: block;}
}

// Min Min grid (SS)
@media (min-width: @screen-ss-min) {
	.app-variant-nav-grid (38px);
}

// Min grid (SM)
@media (min-width: @screen-sm-min) {
	.app-variant-nav-grid (38px);
}


// Medium grid (MD)
@media (min-width: @screen-md-min) {
  .app-variant-nav-grid (47px);

	@top: 31px;
	@width: 400px;
	@height: 290px;
	@position: 110px;
	@dir: 113px;
	.app-nav-toltip {
		.app-variant-nav-toltip(@top, @width, @height, @position, @dir);
	} 
}

// Large grid (LG)
@media (min-width: @screen-lg-min) {
  .app-variant-nav-grid (47px);
}

.app-nav-logo img { max-width: 100%;  max-height: 100%; }
.app-ico-sumario, .app-ico-menu { display: block; line-height: 30px; }


//==Configura toltip
.app-variant-nav-toltip (@top, @width, @height, @right, @dir) {

		position: relative;
		top: @top; // 31px;
		float: left;
		display: block;
		height: @height; // 290px;
		width: @width; // 253px;
		right: @right; // 110px;
		border-radius: 6px;
		background: white;
		-webkit-box-shadow: 0px 2px 14px -2px rgba(0, 0, 0, 0.66);
		-moz-box-shadow: 0px 2px 14px -2px rgba(0, 0, 0, 0.66);
		box-shadow: 0px 2px 14px -2px rgba(0, 0, 0, 0.66);

		&:before, &:after { content: ""; border: 10px solid transparent; position: absolute; }

		&:before {
			border-width: 25px;
			border-bottom-color: black;
			left: @dir; // ~113px;
			top: -49px;
			opacity: 0.1;
		}

		&:after {
			border-width: 23px;
			border-bottom-color: #FFFFFF;
			left: @dir + 2; // ~115px;
			top: -44px;
		}
}


// Medium grid (MD)
@media (min-width: @screen-md-min) {
	@top: 31px;
	@width: 300px;
	@height: 290px;
	@position: 140px;
	@dir: 150px;
	.app-nav-toltip {
		.app-variant-nav-toltip(@top, @width, @height, @position, @dir);
	} 
}

// Medium grid (LG)
@media (min-width: @screen-md-min) {
	@top: 31px;
	@width: 300px;
	@height: 290px;
	@position: 100px;
	@dir: 150px;
	.app-nav-toltip {
		.app-variant-nav-toltip(@top, @width, @height, @position, @dir);
	} 
}

